  <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="author" content="M.Cebula, K.Cichuta, P.Sternik, S.Sygut">

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


     </head>
<body >

<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="" class="navbar-brand">Liczba Pi</a>
        </div>

        <div class="collapse navbar-collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#">INFO</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </div>
    </div>
</nav>

    <!-- jumbo -->



     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    </body>
</html>
