<!DOCTYPE html>
<html>
    <head>
        <title>PI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="author" content="M.Cebula, K.Cichuta, P.Sternik, S.Sygut">

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- Pozycjonuje headera -->
		<style>
		 #header
     	{
      		/*Ustalam pozycje na plywajaca i odpowiednio rozciagam oraz ustawiam przysuniecie do krawędzi oraz kolor tla
      		Komentarze po ukosnikach bo to css*/
      		position: fixed;
      		float:left;
      		width: 100%;
      		top: 0px;
      		left: 0px;
      		background-color: #222222;
		}
	
		
		
    	</style>
    	
    	<!-- Podlinkowuje biblioteke jquery z hostingu googla -->
    	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    	<!-- Następnie dodaje skrypt obslugi plynnego przesuniecia do okreslonego miejsca w dokumencie
    	W zaleznosci czy klikniemy na nowe zadanie lub moje zadania zostaniemy automatycznie przeskrolowani do tego 
    	miejsca w dokumencie
    	Odwouje sie poprzez id dla linku ktory zostaje klikniety oczywiscie link prowadzi do nikad wiec jest href="" 
    	Chodzi tylko o to aby mozna bylo wykryc klikniecie przycisku linku i wykonac dany skrypt -->
    	<script>
  			$(document).ready(function () 
  			{
      			$(window).scroll(function () 
      			{
          
      		});
      		$('#goMyTask').click(function () 
      		{
          		$("html, body").animate({ scrollTop: 700 }, 600);
          		return false;
      			});
  			});
  		</script>
  		<script>
  			$(document).ready(function () 
  	  		{
  	      		$(window).scroll(function () 
  	      		{
  	          
  	      	});
  			$('#goNewTask').click(function () 
  		    {
  		    	$("html, body").animate({ scrollTop: 520 }, 600);
  		        return false;
  		      	});
  		  	});
  		</script>
  		<script>
  			$(document).ready(function () 
  	  		{
  	      		$(window).scroll(function () 
  	      		{
  	          
  	   		});
  		  	$('#goInfo').click(function () 
  	      	{
  	          	$("html, body").animate({ scrollTop: 340 }, 600);
  	          	return false;
  	      		});
  	  		});
		</script>
		 <script>
  			$(document).ready(function () 
  	  		{
  	      		$(window).scroll(function () 
  	      		{
  	          
  	   		});
  		  	$('#home').click(function () 
  	      	{
  	          	$("html, body").animate({ scrollTop: 0 }, 600);
  	          	return false;
  	      		});
  	  		});
		</script>
    	
     </head>
<body >

<nav class="navbar navbar-inverse">
    <div class="container-fluid" id="header">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="" class="navbar-brand" id="home">Strona Główna</a>
        </div>

        <div class="collapse navbar-collapse navbar-collapse" id="myNavbar">

            <!-- Przycisk do logowania -->
            {% if user.is_authenticated %}
            <!-- Przycisk do wylogowywania -->
            <a href="logout" class="btn btn-info navbar-btn navbar-right">Wyloguj ({{ user.username }})</a>
            {% else %}
            <!-- Przycisk do logowania -->
            <a href="/login/" class="btn btn-info navbar-btn navbar-right">Zaloguj</a>
            <!-- Przycisk do rejestracji -->
            <a href="/register/" class="btn btn-info navbar-btn navbar-right">Rejestracja</a>
            {% endif %}



            <ul class="nav navbar-nav"> 
                {% if user.is_authenticated %}
                <li><a href="" id="goInfo">INFO</a></li>
                <li><a href="" id="goMyTask" >Moje zadania</a></li>          
                <li><a href="" id="goNewTask">Nowe zadanie</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


{% block content %}{% endblock %}

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    </body>
</html>
