<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>PI</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>

    <body>

    <nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar2">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="" class="navbar-brand">Liczba Pi</a>
        </div>

        <div class="collapse navbar-collapse navbar-collapse" id="myNavbar2">
            <a href="/" class="btn btn-info navbar-btn navbar-right">Powrót</a>



            </ul>
        </div>
    </div>
</nav>
        <h1>Zarejestruj sie w systemie PI</h1>

        {% if registered %}
        <strong>Thank you for registering!</strong>
        <a href="/">Powrót do strony głownej</a><br />
        {% else %}

        <form id="user_form" method="post" action="/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}


            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Zarejestruj" class="btn btn-info navbar-btn navbar-center"/>
        </form>
        {% endif %}
    </body>
</html>