<!DOCTYPE html>
<html>
    <head>
        <title>PI</title>
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="author" content="M.Cebula, K.Cichuta, P.Sternik, S.Sygut">

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <!--[if lt IE 9]>
        	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

		<!-- Pozycjonuje headera -->
		<style>
		 #header
     	{
      		/*Ustalam pozycje na plywajaca i odpowiednio rozciagam oraz ustawiam przysuniecie do krawędzi oraz kolor tla
      		Komentarze po ukosnikach bo to css*/
      		position: fixed;
      		float:left;
      		width: 100%;
      		top: 0px;
      		left: 0px;
      		background-color: #222222;
      		
    
		}

	
		#navButtons
		{
			display: block;				
		}
				
    	</style>
    	
    	<!-- Podlinkowuje biblioteke jquery z hostingu googla -->
       	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    	<!-- Następnie dodaje skrypt obslugi plynnego przesuniecia do okreslonego miejsca w dokumencie
    	W zaleznosci czy klikniemy na nowe zadanie lub moje zadania zostaniemy automatycznie przeskrolowani do tego 
    	miejsca w dokumencie
    	Odwouje sie poprzez id dla linku ktory zostaje klikniety oczywiscie link prowadzi do nikad wiec jest href="" 
    	Chodzi tylko o to aby mozna bylo wykryc klikniecie przycisku linku i wykonac dany skrypt -->
    	<script>
  			$(document).ready(function () 
  			{
      			$(window).scroll(function () 
      			{
          
      		});
      		$('#goMyTask').click(function () 
      		{
          		$("html, body").animate({ scrollTop: 700 }, 600);
          		return false;
      			});
  			});
  		</script>
  		<script>
  			$(document).ready(function () 
  	  		{
  	      		$(window).scroll(function () 
  	      		{
  	          
  	      	});
  			$('#goNewTask').click(function () 
  		    {
  		    	$("html, body").animate({ scrollTop: 520 }, 600);
  		        return false;
  		      	});
  		  	});
  		</script>
  		<script>
  			$(document).ready(function () 
  	  		{
  	      		$(window).scroll(function () 
  	      		{
  	          
  	   		});
  		  	$('#goInfo').click(function () 
  	      	{
  	          	$("html, body").animate({ scrollTop: 320 }, 600);
  	          	return false;
  	      		});
  	  		});
		</script>
		 <script>
  			$(document).ready(function () 
  	  		{
  	      		$(window).scroll(function () 
  	      		{
  	          
  	   		});
  		  	$('#home').click(function () 
  	      	{
  	          	$("html, body").animate({ scrollTop: 0 }, 600);
  	          	return false;
  	      		});
  	  		});
		</script>
    	
    	<!-- Skrypt obsłuchi automatycznego chowania menu w trybie mobile po wybraniu zakladki -->
    	<script>		    				
    	$(document).ready(function () 
    	{

            $('.nav a').bind('click', function () 
            {
                if ($(".navbar-toggle").is(":visible")) 
                	{ 
                		$(".navbar-toggle").trigger("click"); 
                	} //bootstrap 3.x
            });

        });
    	</script>
    	
    	
     </head>
<body >

<nav class="navbar navbar-inverse" id="navbarMain">
    <div class="container-fluid" id="header">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse" id="buttonMenu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="" class="navbar-brand" id="home">Strona Główna</a>
        </div>

        <div class="collapse navbar-collapse navbar-collapse" id="nav-collapse">

            <!-- Przycisk do logowania -->
            {% if user.is_authenticated %}
            <!-- Przycisk do wylogowywania -->
            <a href="/logout/" id="navButtons" class="btn btn-info navbar-btn navbar-right">Wyloguj ({{ user.username }})</a>
            {% else %}
            <!-- Przycisk do logowania -->
            <a href="/login/" id="navButtons" class="btn btn-info navbar-btn navbar-right">Zaloguj</a>
            <!-- Przycisk do rejestracji -->
            <a href="/register/" id="navButtons" class="btn btn-info navbar-btn navbar-right">Rejestracja</a>
            {% endif %}



            <ul class="nav navbar-nav" id="top-nav"> 
                {% if user.is_authenticated %}
                <li><a href="" id="goInfo">INFO</a></li>
                <li><a href="" id="goMyTask" >Moje zadania</a></li>          
                <li><a href="" id="goNewTask">Nowe zadanie</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


{% block content %}{% endblock %}

   
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    </body>
</html>
