<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>PI</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>

    <body>

    <nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar2">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse navbar-collapse" id="myNavbar2">
            <a href="/" class="btn btn-info navbar-btn navbar-right">Powrót do strony głównej</a>
            </ul>
        </div>
    </div>
</nav>


	<div style="position: absolute; left: 1%; font-weight: bold">
		<h2>Wprowadziłeś niepoprawny login lub hasło!</h2>
		<p>Kliknij <a href="/login/">tutaj</a> aby spróbować zalogować się ponownie.</p>
	</div>

